accelerate
matplotlib
natsort
numpy
opencv-python
Pillow
PyQt5
scikit-image
scikit-learn
scipy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
torch
torchvision
tqdm
